{% load static %}
<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}" {% endif %}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @page {
            size: a4;
            margin: 0.5cm;
            }

            @font-face {
            font-family: "Roboto";
            src: url("static/fonts/Roboto-Italic.ttf");
            }

            html {
            font-family: Roboto;
            font-size: 11pt;
            }
    </style>

</head>
<body>
<div class="container">
    <div class="jumbotron">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>