{% extends 'base.html' %}

{% block content %}
<p>This is a ContractViewer application.<br>You can here view and modificate contracts that our company manage.</p>
{% if user.is_authenticated %}
  <p>What you want to do?</p>
  <div>
    <div class="addlink">
      {% if 'addresses.add_address' in user.get_group_permissions %}
        <p><a href="{% url 'contracts:address-create-view' %}">Add address</a></p>
      {% endif %}
      {% if 'customers.add_customer' in user.get_group_permissions %}
        <p><a href="{% url 'contracts:customer-create-view' %}">Add customer</a></p>
      {% endif %}
      {% if 'regions.add_region' in user.get_group_permissions %}
        <p><a href="{% url 'contracts:region-create-view' %}">Add region</a></p>
      {% endif %}
      {% if 'personal_data.add_personal_data' in user.get_group_permissions %}
        <p><a href="{% url 'contracts:personal_data-create-view' %}">Add personal data</a></p>
      {% endif %}
      {% if 'departments.add_department' in user.get_group_permissions %}
        <p><a href="{% url 'contracts:department-create-view' %}">Add department</a></p>
      {% endif %}
      {% if 'employees.add_employee' in user.get_group_permissions %}
        <p><a href="{% url 'contracts:employee-create-view' %}">Add employee</a></p>
      {% endif %}
      {% if 'contracts.add_contract' in user.get_group_permissions %}
        <p><a href="{% url 'contracts:contract-create-view' %}">Add contract</a></p>
      {% endif %}
      {% if 'buildings.add_building' in user.get_group_permissions %}
        <p><a href="{% url 'contracts:building-create-view' %}">Add building</a></p>
      {% endif %}
      {% if 'drawings.add_drawing' in user.get_group_permissions %}
        <p><a href="{% url 'contracts:drawing-create-view' %}">Add drawing</a></p>
      {% endif %}
    </div>

  </div>

  {% else %}
  <a class="nav-item nav-link active" href="{% url 'accounts:registration' %}"></a>
  {% endif %}

<a></a>
{% endblock %}