{% extends 'base.html' %}

{% block content %}
<h2>ContractViewer</h2>
<h5>Welcome to ContractViewer application.</h5>
<p>This application was created to improve the information flow in company's projects.
    <br>You can here view resources that we have in our database.<br>Depending on the your permission level you can view:
    <ul>
    <li>employees data</li>
    <li>customers data</li>
    <li>information about contracts and related data to them</li>
</ul>
    Moreover, you can add, modify, delete and search data.</p>
{% endblock %}
