{% extends 'base.html' %}

{% block content %}

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" id="number">Number</th>
            <th scope="col" id="name">Name</th>
            <th scope="col" id="building">Building</th>
            <th scope="col" id="drawing">Drawing</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for contract in contracts %}
            <th scope="col" id="contract"><a
                   href="{% url 'contracts:contract-detail-view' pk=contract.pk %}">{{ contract.number }}</a></th>
            <td >{{ contract.name }}</td>
            <td>
                {% for building in contract.buildings.all %}
                    {{ building.name }}
                {% endfor %}
            </td>
            {% endfor %}
            {% for contract in contracts %}
                {% for building in contract.buildings.all %}
                    <td >
                        {% for drawing in building.drawings.all %}
                        {{ drawing.number }}
                    {% endfor %}</td>
                {% endfor %}
            {% endfor %}
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}

