{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Customers</h2>
<div class="container">
    <div class="row justify-content-md-left">
        <form method="GET">
            {{ filter.form|crispy }}
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>
    <div class="row justify-content-md-left">
        <div class="list-group">
            {% for customer in filter.qs %}
            <div class="d-flex align-items-center justify-content-between">
                <a class="list-group-item list-group-item-action"
                   href="{% url 'contracts:customer-detail-view' pk=customer.pk %}">{{ customer }}</a>
                {% if 'customers.update_customer' in user.get_group_permissions or user.is_superuser or user.is_staff %}
                    <a class="btn btn-info" href="{% url 'contracts:customer-update-view' pk=customer.pk %}" role="button">Update</a>
                {% endif %}
                {% if 'customers.delete_customer' in user.get_group_permissions or user.is_superuser or user.is_staff %}
                    <a class="btn btn-danger" href="{% url 'contracts:customer-delete-view' pk=customer.pk %}" role="button">Delete</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}